{% extends 'core/base.html' %}
{% block title %}Customer Management | {% endblock title %}
{% block content %}

<div class="container-fluid py-5">
  {% if messages %}
  <div class="container">
    {% for message in messages %}
    <div
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        role="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="card shadow border-0 rounded-4">
    <!-- Header -->
    <div class="card-header bg-success text-white rounded-top-4">
      <!-- Large Screen -->
      <div class="d-none d-lg-flex justify-content-between align-items-center">
        <h5 class="fw-bold mb-0">
          <i class="fas fa-user-tie me-2"></i> Elite Customer Management System
        </h5>
        <span class="badge bg-danger">
          <i class="fas fa-shield-alt me-1"></i> Admin Only
        </span>
      </div>

      <!-- Small Screen -->
      <div class="d-lg-none d-flex justify-content-between align-items-center">
        <h6 class="fw-bold mb-0 small">
          <i class="fas fa-user-tie me-2"></i> Elite Customer Management
        </h6>
        <span class="badge bg-danger">
          <i class="fas fa-shield-alt me-1"></i> Admin Only
        </span>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body">
      <form action="" method="get" class="mb-4">
        <div class="input-group">
          <span
            class="input-group-text bg-white border-end-0 rounded-start-pill"
          >
            <i class="fas fa-search text-muted"></i>
          </span>
          <input
            type="text"
            name="search_customer"
            id="customerSearch"
            value="{{ search_customer_q|default_if_none:'' }}"
            placeholder="Search by Name or Username"
            class="form-control border-start-0 border-end-0 py-2"
          />

          {% if search_customer_q %}
          <a
            href="{% url 'admin_manager:customer-list' %}"
            class="btn btn-outline-danger rounded-end-pill"
          >
            <i class="fas fa-times me-1"></i> Clear
          </a>
          {% else %}
          <button type="submit" class="btn btn-success rounded-end-pill px-4">
            <i class="fas fa-search me-1"></i> Search
          </button>
          {% endif %}
        </div>
      </form>
      <div class="table-responsive d-none d-xl-block">
        <table
          class="table table-hover table-bordered align-middle text-center"
        >
          <!-- Table Head -->
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Joined</th>
              <th>D.O.B</th>
              <th>Role</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
            {% if customers %} {% for cust in customers %}
            <tr>
              <td class="fw-semibold">{{ forloop.counter }}</td>
              <td class="fw-semibold text-primary">
                {% if cust.get_full_name|length > 20 %}
                  {{ cust.username }}
                {% else %}
                  {{ cust.get_full_name|default:cust.username }}
                {% endif %}
              </td>
              <td class="text-muted">
                {{ cust.email|default:'Email Not Provided' }}
              </td>

              <td>{{ cust.phone_number|default:"Number Not Provided" }}</td>

              <td>
                <small class="text-muted"> {{ cust.date_joined }} </small>
              </td>
              <td>{{ cust.date_of_birth|default:'D.O.B Not Provided' }}</td>
              <td>
                <span class="badge bg-info text-dark"> {{ cust.role }} </span>
              </td>
              <td>
                <span
                  class="badge {% if cust.is_active %}bg-primary{% else %}bg-secondary{% endif %}"
                >
                  {{ cust.is_active|yesno:"Active,Inactive" }}
                </span>
              </td>
              <td>
                <a
                  href="{% url 'admin_manager:customer-detail' cust.id %}"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="fas fa-eye"></i>
                </a>

                <a
                  href="{% url 'admin_manager:customer-edit' cust.id %}"
                  class="btn btn-sm btn-outline-warning"
                >
                  <i class="fas fa-edit"></i>
                </a>

                <button
                  class="btn btn-sm btn-outline-danger"
                  data-customer-id="{{ cust.id }}"
                  data-bs-toggle="modal"
                  data-bs-target="#DeleteCustomerModal"
                  data-customer-name="{{ cust.get_full_name }}"
                  data-url="{% url 'admin_manager:customer-delete' cust.id %}"
                  type="button"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="8" class="text-muted py-4">
                <i class="fas fa-info-circle me-2"></i>
                No customer found.
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- Small Screen -->
      <div class="d-xl-none">
        <div class="row g-3">
          {% if mobile_customers %}
          {% for cust in mobile_customers %}
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm border-0 rounded-3">
              <div class="card-header bg-light bg-gradient border-0 pt-3">
                <div class="d-flex justify-content-between align-items-start">
                  <div>
                    <h6 class="fw-bold mb-1 text-White">
                      {{ cust.get_full_name|default:cust.username }}
                    </h6>
                  </div>
                  <span
                    class="badge {% if cust.is_active %}bg-success{% else %}bg-secondary{% endif %} px-2 py-1"
                  >
                    <i class="fas fa-circle fa-2xs me-1"></i>
                    {{ cust.is_active|yesno:"Active,Inactive" }}
                  </span>
                </div>
              </div>

              <div class="card-body pt-2">
                <div
                  class="mb-2 d-flex justify-content-between align-items-center"
                >
                  <span class="text-muted">
                    <i class="fas fa-id-card me-1 text-primary"></i>
                    Phone
                  </span>

                  <span>
                    {{ cust.phone_number|default:'No Phone Number' }}
                  </span>
                </div>

                <div class="small text-muted">
                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <span>
                      <i
                        class="fas fa-envelope me-2 text-primary"
                        style="width: 16px"
                      ></i>
                      Email
                    </span>

                    <span>
                      {{ cust.user.email|default:'Email Not Provided'|truncatechars:25 }}
                    </span>
                  </div>

                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <span><i class="fas fa-user-tag me-2 text-primary"></i>Role</span>

                    <span class="badge bg-info text-dark fs-7">
                      {{ cust.role }}
                    </span>
                  </div>

                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <span>
                      <i
                        class="fas fa-phone me-2 text-primary"
                        style="width: 16px"
                      ></i>
                      Phone
                    </span>

                    <span>
                      {{ cust.phone_number|default:'Phone Not Provided' }}
                    </span>
                  </div>

                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <span>
                      <i
                        class="fas fa-calendar-alt me-2 text-primary"
                        style="width: 16px"
                      ></i>
                      Joined
                    </span>

                    <span> {{ cust.date_joined|date:"M d, Y" }} </span>
                  </div>

                  {% if cust.date_of_birth %}
                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <span>
                      <i
                        class="fas fa-birthday-cake me-2 text-primary"
                        style="width: 16px"
                      ></i>
                      DOB
                    </span>

                    <span> {{ cust.date_of_birth|date:"M d, Y" }} </span>
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="card-footer bg-transparent border-0 pb-3 pt-0">
                <div class="d-flex gap-2">
                  <a
                    href="{% url 'admin_manager:customer-edit' cust.id %}"
                    class="btn btn-sm btn-outline-warning flex-grow-1"
                  >
                    <i class="fas fa-edit me-1"></i> Edit
                  </a>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger flex-grow-1"
                    data-bs-toggle="modal"
                    data-bs-target="#DeleteCustomerModal"
                    data-customer-name="{{ cust.get_full_name|default:'Customer' }}"
                    data-customer-id="{{ cust.id }}"
                    data-url="{% url 'admin_manager:customer-delete' cust.id %}"
                  >
                    <i class="fas fa-trash me-1"></i> Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            {% if page_obj %}
              <div class="mt-4">{% include 'core/paginator.html' %}</div>
            {% endif %}
          {% else %}
            <div class="col-12">
              <div class="alert alert-info text-center py-5">
                <i class="fas fa-users fa-3x mb-3 d-block"></i>
                <p class="mb-0">No Customer members found.</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="mt-4">
        <a href="{% url 'core:home' %}" class="btn btn-lg btn-secondary w-100">
          <i class="fas fa-arrow-left me-2"></i> Back to Home
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Delete Customer Modal  -->
<div
  class="modal fade"
  id="DeleteCustomerModal"
  tabindex="-1"
  aria-labelledby="DeleteCustomerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-danger">
      <div class="modal-header bg-danger text-white">
        <!-- Large Screen -->
        <h5 class="modal-title d-none d-block" id="DeleteCustomerModalLabel">
          <i class="fas fa-exclamation-triangle me-2"></i>
          Confirm Customer In-Activation
        </h5>
        <!-- Small Screen -->
        <h6 class="d-md-none d-block modal-title" id="DeleteCustomerModalLabel">
          <i class="fas fa-exclamation-triangle me-2"></i>
          Confirm Customer In-Activation
        </h6>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p class="">Are you sure you want to In-Active this Customer:</p>
        <p class="fw-bold text-danger" id="customerNameDisplay"></p>
        <p class="text-muted small">This action cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <form method="post" id="deleteCustomerForm">
          {% csrf_token %}
          <!-- Large Screen -->
          <div class="d-none d-md-flex gap-2">
            <button type="submit" class="btn btn-danger">
            <i class="fas fa-times-circle me-1"></i>
            Confirm In-Activation
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            <i class="fas fa-ban me-1"></i>
            Cancel
          </button>
          </div>


           <!-- Small Screen -->
           <div class="d-md-none d-flex">
            <button type="submit" class="btn btn-sm btn-danger flex-fill me-1">
            <i class="fas fa-times-circle me-1"></i>
            Confirm In-Activation
          </button>
          <button
            type="button"
            class="btn btn-sm btn-secondary flex-fill"
            data-bs-dismiss="modal"
          >
            <i class="fas fa-ban me-1"></i>
            Cancel
          </button>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Customer Modal -->

{% endblock %}
