{% extends 'core/base.html' %}
{% block title %}Login | {% endblock title %}
{% block content %}
<div class="container py-5">
  <!-- Messages -->
  {% if messages %}
  <div class="col-md-6-mx-auto">
    {% for message in messages %}
    <div
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show text-center"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow border-0 rounded-4">
        <div
          class="card-header bg-primary text-white text-center rounded-top-4 py-3"
        >
          <h4 class="fw-bold mb-0">Welcome Back</h4>
          <small class="text-light">Login to continue 🙏</small>
        </div>
        <div class="card-body p-4">
          <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control form-control-lg"
                placeholder="Enter Your Email"
                required
              />
            </div>
            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label fw-semibold"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                class="form-control form-control-lg"
                placeholder="Enter Your Password"
                required
              />
            </div>
            <!-- Submit -->
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary btn-lg">
                Login<i class="fas fa-sign-in-alt ms-2"></i>
              </button>
            </div>
          </form>
          <!-- Register Link -->
          <div class="text-center">
            <small>
              Don't have an account?
              <a href="{% url 'users:register' %}" class="text-decoration-none"
                >Register here<i class="fas fa-user-plus ms-1"></i
              ></a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
