{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <div class="card shadow-sm border-1 dashboard-card">
        <div class="card-header mb-2">
          <h4 class="text-primary fw-bold mb-0">
            <i class="fas fa-user-cog me-2"></i>Set Password
          </h4>
        </div>
        <form method="post" action="{% url 'account_set_password' %}">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-outline-primary w-100 mt-2">
            Set Password
          </button>
        </form>
        <div class="d-flex justify-content-between mt-2">
          <a
            href="{% url 'account_email' %}"
            class="btn btn-outline-secondary btn-sm"
          >
            <i class="fas fa-envelope me-1"></i>Email
          </a>
          <a
            href="{% url 'account_logout' %}"
            class="btn btn-outline-danger btn-sm"
          >
            <i class="fas fa-sign-out-alt me-1"></i>SignOut
          </a>
          <a
            href="{% url 'socialaccount_connections' %}"
            class="btn btn-outline-success btn-sm"
          >
            <i class="fas fa-link me-1"></i>Connections
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
