{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container py-5">
  <!-- Messages -->
  {% if messages %}
  <div class="row">
    <div class="col-12">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show mb-2"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <div class="card mt-2 shadow-sm border-1">
        <div class="card-header bg-light text-center py-4 bg-gradient">
          <h4 class="text-primary fw-bold mb-0">
            <i class="fas fa-user-cog me-2"></i>Change Password
          </h4>
        </div>
        <div class="card-body">
          <form
            action="{% url 'account_change_password' %}"
            method="post"
            class="form-control border-0 bg-gradient"
          >
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary mt-2 w-100">
              Change Password
            </button>
          </form>
          <hr />
          <div class="d-flex justify-content-between">
            <a
              href="{% url 'account_email' %}"
              class="btn btn-outline-secondary btn-sm"
            >
              <i class="fas fa-envelope me-1"></i>Email
            </a>
            <a
              href="{% url 'socialaccount_connections' %}"
              class="btn btn-outline-success btn-sm"
            >
              <i class="fas fa-link me-1"></i>Connections
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
